@media (min-width: 576px) and (max-width: 991px) {
  .menu__bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .menu__bar ul.menu__bar--nav a li {
    padding: 5px !important;
    margin: 2px !important;
    margin-top: 10px !important;
    font-size: 1rem;
  }
  .menu__bar .menu__bar--logo {
    padding: 5px !important;
    margin: 2px !important;
    margin-top: 10px !important;
    font-size: 1rem;
    margin-right: 20px !important;
    width: 300px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .menu__bar .menu__bar--font {
    padding: 5px !important;
    margin: 2px !important;
    margin-top: 10px !important;
    font-size: 1rem;
    margin-left: 20px !important;
    width: 300px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .menu__bar .menu__bar--nav {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .description__title span {
    font-size: 3rem !important;
  }
  .main__content {
    height: 1200px;
  }
  .main__content .main__content--beginner {
    height: 1100px;
    width: 200px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .main__content .main__content--advanced {
    height: 1100px;
    width: 200px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .main__content .main__content--master {
    height: 1100px;
    width: 200px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .main__content .main__content--insane {
    height: 1100px;
    width: 200px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .main__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 100%;
  }
  .main__content .main__content--beginner {
    width: 300px;
    height: 800px;
    border: 1px solid gray;
  }
  .main__content .main__content--advanced {
    width: 300px;
    height: 800px;
    border: 1px solid gray;
  }
  .main__content .main__content--master {
    width: 300px;
    height: 800px;
    border: 1px solid gray;
  }
  .main__content .main__content--insane {
    width: 300px;
    height: 800px;
    border: 1px solid gray;
  }
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .footer__content .footer__content--col1 {
    -ms-flex-preferred-size: 400px !important;
        flex-basis: 400px !important;
  }
  .footer__content .footer__content--col2 {
    -ms-flex-preferred-size: 400px !important;
        flex-basis: 400px !important;
  }
  .footer__content .footer__content--col3 {
    margin-top: 50px !important;
    -ms-flex-preferred-size: 400px !important;
        flex-basis: 400px !important;
  }
  .footer__content .footer__content--col4 {
    margin-top: 50px !important;
    -ms-flex-preferred-size: 400px !important;
        flex-basis: 400px !important;
  }
  .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .footer__social .copyright,
  .footer__social .contact,
  .footer__social .media-social {
    padding: 10px 0px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=mediumscreen.css.map */