@media (max-width:575px) {
   .menu__bar--logo{
       width:10rem!important;
   }
   .menu__bar--font{
       width:5rem!important;
   }
   .menu__bar--nav{
       display: flex;
       flex-flow: row wrap;
       font-size: 0.8rem;
   }

}