* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background-color: #2c2e3d;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 70px;
}

.slideandcontent {
  background-color: #2c2e3d;
}

.header__nav {
  background-color: #2c2e3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__nav .menu__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__nav .menu__bar .menu__bar--logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 50px;
}

.header__nav .menu__bar .menu__bar--logo span {
  color: white;
  font-weight: bold;
}

.header__nav .menu__bar ul.menu__bar--nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.header__nav .menu__bar ul.menu__bar--nav a li {
  list-style: none;
  color: white;
  margin: 1vw;
  padding: 15px;
  font-weight: bold;
}

.header__nav .menu__bar ul.menu__bar--nav a li:hover {
  color: #00bcd4;
}

.header__nav .menu__bar ul.menu__bar--nav a:hover {
  text-decoration: none;
}

.header__nav .menu__bar .menu__bar--font {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  color: white;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 150px;
}

.header__nav .menu__bar .menu__bar--font .fa-american-sign-language-interpreting {
  color: red;
}

.description {
  margin: auto;
  max-width: 1100px;
}

.description .description__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.description .description__title span {
  font-size: 70px;
  color: white;
  padding: 0 10px;
  font-weight: lighter;
}

.description .description__title .description__title--bold {
  font-weight: bold;
}

.description .description__content {
  margin: 50px 0;
}

.description .description__content p {
  text-align: center;
  color: white;
}

.description .description__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.description .description__button button {
  margin: 10px 20px;
  border: 1px solid white;
  color: white;
  background-color: #2c2e3d;
  padding: 10px;
  border-radius: 30px;
  outline: none;
}

.description .description__button button:hover {
  color: #00bcd4;
  border: 1px solid #00bcd4;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: inline-block;
  padding: 0 !important;
  width: 20px;
  height: 40px;
}

.control-next {
  background: #212331;
  width: 20%;
  padding: 10px 0px;
  position: absolute;
  top: 10px;
}

.control-next:hover {
  background: #00bcd4;
}

.carousel-control-prev,
.carousel-control-next {
  padding: 0 !important;
  margin: 0 !important;
  display: inline-block;
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel .carousel-control-prev {
  -ms-flex-preferred-size: 10px;
      flex-basis: 10px;
}

.control-next-right {
  text-align: right;
  background: #00bcd4;
  width: 20%;
}

.test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.test2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.indicator {
  margin-top: 100px !important;
  height: 300px;
}

.item {
  width: 20px;
  height: 20px;
  background-color: #2c2e3d;
  margin: 10px;
  border-radius: 50%;
  border: 1px solid white;
}

.item:hover {
  background-color: #00bcd4;
}

.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  text-align: center;
  padding: 0px;
  margin-top: 100px;
  margin-bottom: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 900px;
}

.main__content h2 {
  padding: 20px;
  font-weight: 100;
}

.main__content button {
  background-color: #393d50;
  padding: 10px 20px;
  border-radius: 50px;
  outline: none;
  color: white;
  margin: 20px 0px;
}

.main__content button i {
  font-size: 10px;
}

.main__content button:hover {
  background-color: #83bce9;
  border: 1px solid #83bce9;
}

.main__content h1,
.main__content .price--month {
  color: white;
}

.main__content h1 {
  font-weight: lighter;
  font-size: 50px;
}

.main__content .price {
  padding: 15px 0px;
}

.main__content .main__content--beginner {
  border: 1px dotted gray;
  border-right: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: relative;
  height: 800px;
}

.main__content .main__content--beginner:hover {
  background-color: white;
  border-right: 1px dotted gray;
  height: 100%;
}

.main__content .main__content--beginner .price {
  background-color: #b0de79;
}

.main__content .main__content--beginner:hover .price {
  margin-top: 57px;
}

.main__content .main__content--advanced {
  border: 1px dotted gray;
  border-right: none;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  height: 800px;
}

.main__content .main__content--advanced:hover {
  background-color: white;
  height: 100%;
}

.main__content .main__content--advanced:hover .new {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__content .main__content--advanced .price {
  background-color: #7ee0bf;
}

.main__content .main__content--advanced:hover .price {
  margin-top: 57px;
}

.main__content .main__content--master {
  border: 1px dotted gray;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  height: 100%;
}

.main__content .main__content--master .new {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #393d50;
  color: white;
  padding: 2px;
  font-size: 10px;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -15px;
  left: 40px;
}

.main__content .main__content--master .new span {
  display: inline-block;
  margin-top: 10px;
}

.main__content .main__content--master:hover {
  background-color: white;
}

.main__content .main__content--master .price {
  background-color: #83bce9;
  margin-top: 22px;
}

.main__content .main__content--master .order {
  margin-top: -33px;
}

.main__content .main__content--insane {
  border: 1px dotted gray;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  height: 800px;
  position: relative;
  border-left: none;
}

.main__content .main__content--insane .new {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #393d50;
  color: white;
  padding: 2px;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -15px;
  left: 40px;
}

.main__content .main__content--insane .new span {
  display: inline-block;
  margin-top: 10px;
}

.main__content .main__content--insane:hover {
  background-color: white;
  border-left: 1px dotted gray;
  height: 100%;
}

.main__content .main__content--insane:hover .new {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__content .main__content--insane:hover .price {
  margin-top: 57px;
}

.main__content .main__content--insane .price {
  background-color: #a289e8;
}

.footer {
  background-color: #212331;
  color: white;
  padding: 120px 0;
}

.footer p,
.footer h5 {
  margin: 0px;
}

.footer .footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer__content .footer__content--col4 {
  -ms-flex-preferred-size: 260px;
      flex-basis: 260px;
  margin: 0px 20px;
}

.footer .footer__content .footer__content--col4 p {
  color: gray;
  margin: 10px 0px;
}

.footer .footer__content .footer__content--col4 form {
  position: relative;
}

.footer .footer__content .footer__content--col4 form input {
  width: 100%;
  background-color: #181828;
  outline: none;
  color: white;
  padding: 10px 10px;
  border: 1px solid gray;
}

.footer .footer__content .footer__content--col4 form button {
  position: absolute;
  background-color: #394050;
  padding: 10px;
  outline: none;
  border: 1px solid #394050;
  width: 48px;
}

.footer .footer__content .footer__content--col4 form button:focus {
  outline: none;
}

.footer .footer__content .footer__content--col4 .newsletter {
  margin: 30px 0px;
}

.footer .footer__content .footer__content--col4 .grid {
  margin-top: 20px;
}

.footer .footer__content .footer__content--col4 .grid .grid__one,
.footer .footer__content .footer__content--col4 .grid .grid__two,
.footer .footer__content .footer__content--col4 .grid .grid__three {
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer__content .footer__content--col4 .grid .grid__one .box1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #b6c6c9;
  margin: 0px 10px;
}

.footer .footer__content .footer__content--col4 .grid .grid__one .box2 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #828e97;
  margin: 0px 10px;
}

.footer .footer__content .footer__content--col4 .grid .grid__one .box3 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #bcbcbc;
  margin: 0px 10px;
}

.footer .footer__content .footer__content--col4 .grid .grid__two {
  margin-top: 20px;
}

.footer .footer__content .footer__content--col4 .grid .grid__two .box1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #828e97;
  margin: 0px 10px;
}

.footer .footer__content .footer__content--col4 .grid .grid__two .box2 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #5f727f;
  margin: 0px 10px;
}

.footer .footer__content .footer__content--col4 .grid .grid__two .box3 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #b6c6c9;
  margin: 0px 10px;
}

.footer .footer__content .footer__content--col4 .grid .grid__three {
  margin-top: 20px;
}

.footer .footer__content .footer__content--col4 .grid .grid__three .box1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #dfe5e8;
  margin: 0px 10px;
}

.footer .footer__content .footer__content--col4 .grid .grid__three .box2 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #bcbcbc;
  margin: 0px 10px;
}

.footer .footer__content .footer__content--col4 .grid .grid__three .box3 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #828e97;
  margin: 0px 10px;
}

.footer .footer__content .footer__content--col3 {
  -ms-flex-preferred-size: 260px;
      flex-basis: 260px;
  margin: 0px 20px;
}

.footer .footer__content .footer__content--col3 .form {
  margin: 20px 0px;
}

.footer .footer__content .footer__content--col3 .form .form-name,
.footer .footer__content .footer__content--col3 .form .form-email {
  position: relative;
  margin: 20px 0px;
}

.footer .footer__content .footer__content--col3 .form .form-name i,
.footer .footer__content .footer__content--col3 .form .form-email i {
  position: absolute;
  right: 10px;
  color: gray;
  top: 10px;
}

.footer .footer__content .footer__content--col3 .form .form-name input,
.footer .footer__content .footer__content--col3 .form .form-email input {
  width: 100%;
  background-color: #181828;
  outline: none;
  color: white;
  padding: 5px 5px;
  border: 1px solid gray;
}

.footer .footer__content .footer__content--col3 .form textarea {
  background-color: #181828;
  width: 100%;
  padding: 10px 5px;
}

.footer .footer__content .footer__content--col3 .form button {
  background-color: #394050;
  padding: 5px 0px;
  width: 100%;
  outline: none;
  border: 1px solid black;
  color: #dfe5e8;
}

.footer .footer__content .footer__content--col3 .block {
  margin-top: 20px;
}

.footer .footer__content .footer__content--col3 .block .block__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer__content .footer__content--col3 .block .block__top .one {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  height: 50px;
  background-color: #828e97;
  margin: 0 10px;
}

.footer .footer__content .footer__content--col3 .block .block__top .two {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  height: 50px;
  background-color: #5c6973;
  margin: 0 10px;
}

.footer .footer__content .footer__content--col3 .block .block__top .three {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  height: 50px;
  background-color: #4b565d;
  margin: 0 10px;
}

.footer .footer__content .footer__content--col3 .block .block__bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.footer .footer__content .footer__content--col3 .block .block__bot .one {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  height: 50px;
  background-color: #828e97;
  margin: 0 10px;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.footer .footer__content .footer__content--col3 .block .block__bot .two {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  height: 50px;
  background-color: #5c6973;
  margin: 0 10px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.footer .footer__content .footer__content--col3 .block .block__bot .three {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  height: 50px;
  background-color: #4b565d;
  margin: 0 10px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.footer .footer__content .footer__content--col2 {
  -ms-flex-preferred-size: 260px;
      flex-basis: 260px;
  margin: 0px 20px;
}

.footer .footer__content .footer__content--col2 .useful-link {
  margin: 20px 0px;
}

.footer .footer__content .footer__content--col2 .list-item {
  margin-left: 15px;
}

.footer .footer__content .footer__content--col2 .list-item li {
  border-bottom: 2px dotted gray;
  padding: 5px 0px;
}

.footer .footer__content .footer__content--col2 .list-item li:hover {
  color: #00bcd4;
}

.footer .footer__content .footer__content--col2 .posts {
  margin: 20px 0px;
}

.footer .footer__content .footer__content--col2 .posts .post1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px 0px;
  border-bottom: 2px dotted gray;
}

.footer .footer__content .footer__content--col2 .posts .post1 .avatar {
  width: 72px;
  height: 72px;
  border-radius: 100%;
  background-color: gray;
  -ms-flex-preferred-size: 110px;
      flex-basis: 110px;
  padding: 0px 10px;
}

.footer .footer__content .footer__content--col2 .posts .post1 .detail--post {
  margin-left: 10px;
}

.footer .footer__content .footer__content--col2 .posts .post1 .date-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer__content .footer__content--col2 .posts .post1 .date-comment .date {
  color: #00bcd4;
}

.footer .footer__content .footer__content--col1 {
  margin: 0px 20px;
  -ms-flex-preferred-size: 260px;
      flex-basis: 260px;
}

.footer .footer__content .footer__content--col1 .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer__content .footer__content--col1 .logo .gem--bold {
  font-weight: bold;
}

.footer .footer__content .footer__content--col1 .logo p {
  font-size: 20px;
}

.footer .footer__content .footer__content--col1 .lorem {
  margin: 20px 0px;
  color: gray;
}

.footer .footer__content .footer__content--col1 .contact {
  margin: 20px 0px;
}

.footer .footer__content .footer__content--col1 .address {
  color: gray;
  border-bottom: 2px dotted gray;
  padding: 15px 0px;
}

.footer .footer__content .footer__content--col1 .social {
  margin-top: 30px;
  color: gray;
}

.footer__social {
  background-color: #181828;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__social .copyright {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social .copyright .copyright--blue {
  color: #0690a6;
  margin-left: 10px;
}

.footer__social .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 100px;
}

.footer__social .contact a {
  color: gray;
  text-decoration: none;
  padding: 0 15px;
  border-right: 1px solid gray;
}

.footer__social .contact .right {
  border-right: none;
}

.footer__social .media-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__social .media-social span {
  padding: 0px 10px;
}

.footer__social .media-social span .fa {
  font-size: 24px;
}

.footer__social .media-social span .fa-google {
  color: red;
}

.footer__social .media-social span .fa-youtube {
  color: red;
}

.footer__social .media-social span .fa-telegram {
  color: #00bcd4;
}

.footer__social .media-social span .fa-facebook {
  color: blue;
}

.footer__social .media-social span .fa-twitter {
  color: cyan;
}
/*# sourceMappingURL=styles.css.map */